*
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body
{
    margin: 0;
    padding: 0;
    border: 0;
}

header
{
    display: flex;
    background-color: #BA0021;
    color: white;
    padding: 10px 20px;
}

#site-title
{
    font-size: x-large;
}

#site-title a
{
    text-decoration: none;
    color:white;
}

#container
{
    padding: 10px 20px;
}